*{
    box-sizing: border-box;
}

.container{
    margin: 50px auto;
    padding: 25px;
    border: 1px solid #000;
    width: 350px;
}

img{
    width: 50%;
}
figure{
    margin: auto;
    text-align: center;
    
    margin: 20px auto;
}

input{
    display: block;
    margin: auto;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(124, 124, 124);
}


.button{

    background-color: white;
    color: black;
    border: 2px solid #555;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-bottom: 20px;
}

.button:hover {
    background-color: #555; 
    color: white;
}

.error{
    font-size: 13px;
    color: red;
    margin-left: 15px;
}

.succes{
    font-size: 20px;
    color: rgb(61, 248, 61);
    margin-top: 20px;
}

